# List of Contents
### 01. Importing Libraries
### 02. Importing Dataframe
### 03. Consistency Checks

# 01. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Import Dataframe

In [2]:
path= r'/Users/alexmendrin/Documents/Career Foundry/Data Immersion/Achievement 4/InstaCart Basket Analysis'

In [5]:
df_ords_prods_prior= pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'))

# 03. Consistency Checks

In [6]:
df_ords_prods_prior.shape

(32434489, 4)

In [7]:
df_ords_prods_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
#check missing values
df_ords_prods_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [9]:
#check duplicates
df_dups= df_ords_prods_prior[df_ords_prods_prior.duplicated()]

In [10]:
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []