# Table of Contents
### 01. Import Libraries
### 02. Import Dataset
### 03. Dataset General Information
### 04. Changing Datatypes
### 05. Drop Columns
### 06. Export Final Dataframe

# 01. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Import Dataset

In [2]:
path= r'/Users/alexmendrin/Documents/Career Foundry/Data Immersion/Achievement 4/InstaCart Basket Analysis'

In [3]:
#up to data dataset
df= pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_all.pkl'))

# 03. Dataset General Information

In [4]:
df.shape

(32404859, 33)

In [5]:
df.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,first_name,last_name,gender,state,age,date_joined,number_of_dependants,family_status,income,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
2,473747,1,3,3,12,21.0,False,196,1,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
4,431534,1,5,4,15,28.0,False,196,1,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both

In [7]:
df.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_the_week',
       'order_hour_of_day', 'days_since_prior_order', 'new_customer',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', 'price_range_loc',
       'busiest_days', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'average_price', 'spending_flag', 'median_order_frequency',
       'order_frequency_flag', 'first_name', 'last_name', 'gender', 'state',
       'age', 'date_joined', 'number_of_dependants', 'family_status', 'income',
       '_merge'],
      dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 33 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_the_week  int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   new_customer            bool
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
 10  product_name            object
 11  aisle_id                int64
 12  department_id           int64
 13  prices                  float64
 14  price_range_loc         object
 15  busiest_days            object
 16  busiest_period_of_day   object
 17  max_order               int64
 18  loyalty_flag            object
 19  average_price           float64
 20  spending_flag           object
 21  median_order_frequency  float64
 22  order_frequency_flag    object
 23  first_name              object
 24  last_name               object
 25  gender                  object
 26  state                   object
 27  age                     int64
 28  date_joined             object
 29  number_of_dependants    int64
 30  family_status           object
 31  income                  int64
 32  _merge                  category
dtypes: bool(1), category(1), float64(4), int32(1), int64(13), object(13)
memory usage: 7.7+ GB

# 04. Changing Datatypes

In [13]:
df['order_id']=df['order_id'].astype('int32')

In [16]:
df['user_id']= df['user_id'].astype('int32')

In [18]:
df['order_number']=df['order_number'].astype('int8')

In [20]:
df['orders_day_of_the_week']= df['orders_day_of_the_week'].astype('int8')

In [22]:
df['order_hour_of_day']=df['order_hour_of_day'].astype('int8')

In [26]:
df['product_id']= df['product_id'].astype('int32')

In [28]:
df['add_to_cart_order']=df['add_to_cart_order'].astype('int16')

In [30]:
df['reordered']=df['reordered'].astype('int8')

In [32]:
df['aisle_id']=df['aisle_id'].astype('int16')

In [34]:
df['department_id']=df['department_id'].astype('int8')

In [36]:
df['max_order']=df['max_order'].astype('int8')

In [37]:
df['age']=df['age'].astype('int8')

In [38]:
df['number_of_dependants']=df['number_of_dependants'].astype('int8')

In [40]:
df['income']=df['income'].astype('int32')

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 33 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_the_week  int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float64
 6   new_customer            bool
 7   product_id              int32
 8   add_to_cart_order       int16
 9   reordered               int8
 10  product_name            object
 11  aisle_id                int16
 12  department_id           int8
 13  prices                  float64
 14  price_range_loc         object
 15  busiest_days            object
 16  busiest_period_of_day   object
 17  max_order               int8
 18  loyalty_flag            object
 19  average_price           float64
 20  spending_flag           object
 21  median_order_frequency  float64
 22  order_frequency_flag    object
 23  first_name              object
 24  last_name               object
 25  gender                  object
 26  state                   object
 27  age                     int8
 28  date_joined             object
 29  number_of_dependants    int8
 30  family_status           object
 31  income                  int32
 32  _merge                  category
dtypes: bool(1), category(1), float64(4), int16(2), int32(4), int8(8), object(13)
memory usage: 5.3+ GB

# 05. Drop Columns

In [42]:
df= df.drop(columns= ['_merge'])

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 32 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_the_week  int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float64
 6   new_customer            bool
 7   product_id              int32
 8   add_to_cart_order       int16
 9   reordered               int8
 10  product_name            object
 11  aisle_id                int16
 12  department_id           int8
 13  prices                  float64
 14  price_range_loc         object
 15  busiest_days            object
 16  busiest_period_of_day   object
 17  max_order               int8
 18  loyalty_flag            object
 19  average_price           float64
 20  spending_flag           object
 21  median_order_frequency  float64
 22  order_frequency_flag    object
 23  first_name              object
 24  last_name               object
 25  gender                  object
 26  state                   object
 27  age                     int8
 28  date_joined             object
 29  number_of_dependants    int8
 30  family_status           object
 31  income                  int32
dtypes: bool(1), float64(4), int16(2), int32(4), int8(8), object(13)
memory usage: 5.2+ GB

# 06. Export Final Dataset

In [44]:
df.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_all_2.pkl'))